@use '../../styles/variables' as variable;
@use '../../styles/mixins' as mixin;

.favorite {
  display: flex;
  background: variable.$lightBlue;
  width: 20rem;
  height: 20rem;
  border-radius: 5px;
  margin: 5% 2% 2% 2%;
  justify-content: center;
  align-items: center;
  color: variable.$black;
  flex-wrap: wrap;
}

.fav-text {
  position: absolute;
  width: 10em;
}

.top {
  height: inherit;
  display: flex;
  margin: 2%;
  align-items: flex-start;
  justify-content: space-between;
}

.favorite > img {
  height: 2rem;
  width: 2rem;
}

.little-star {
  width: 12%;
}

.star-burst {
  @include mixin.burst(0deg);
}

.star-burst:before {
  @include mixin.before-burst(-35deg);
}

.star-burst:after {
  @include mixin.after-burst(-70deg);
}

.star-burst2 {
  @include mixin.burst(35deg);
}

.star-burst2:before {
  @include mixin.before-burst(-35deg);
}

.star-burst2:after {
  @include mixin.after-burst(-70deg);
}