.favorite {
  display: flex;
  background: #85c8fff5;
  width: 10rem;
  height: 10rem;
  margin: 10% 0 0 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.favorite > img {
  height: 2rem;
  width: 2rem;
}

.card-star {
  height: 2rem;
  width: 2rem;
  position: absolute;
}

.star-burst {
  margin: 50px 0;
  position: absolute;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #f4f5f7;
  border-left: 100px solid transparent;
  transform: rotate(0deg)
}
.star-burst:before {
  border-bottom: 80px solid #f4f5f7;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.star-burst:after {
  position: absolute;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #f4f5f7;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

.star-burst2 {
  position: absolute;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #f4f5f7;
  border-left: 100px solid transparent;
  transform: rotate(35deg)
}

.star-burst2:before {
  border-bottom: 80px solid #f4f5f7;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.star-burst2:after {
  position: absolute;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #f4f5f7;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}