.main-container {
  display: flex;
  background: #85c8fff5;
  width: 75%;
  height: 35rem;
  margin: 10% 0 0 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// .comment {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 50%;
//   border: 1px solid #020202;
//   height: 14em;
//   width: 70%;
//   background-color: #f4f5f7;
//   color: #020202;
// }

.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 14em;
  color: #020202;
  background: #f4f5f7;
  position: relative;
  border-radius: 50%;
}
.comment:before {
  content: "";
  position: absolute;
  left: 75%;
  bottom: 30px;
  border-top: 60px solid transparent;
  border-left: 135px solid #f4f5f7;
}


p {
  margin: 0;
  height: fit-content;
  width: 12em;
  text-align: center;
}


img {
  height: 15em;
}

.star {
  background: none;
  border: none;
  font-size: 3rem;
  position: absolute;
  right: 2.5em;
  top: 5em;

  &:hover {
    cursor: pointer;
    transform: scale(1.1)
  }
}


