@use './_variables' as variables;

@mixin button-hover ($cursor, $scale) {
  &:hover {
    cursor: $cursor;
    transform: $scale;
  }
}

@mixin burst ($deg) {
  margin: 100px 0;
  position: absolute;
  width: 0px;
  height: 0px;
  border-right: 6.75rem solid transparent;
  border-bottom: 4.725rem solid variables.$white;
  border-left: 6.75rem solid transparent;
  transform: rotate($deg);
}

@mixin before-burst ($deg) {
  border-bottom: 5.4rem solid variables.$white;
  border-left: 2.025rem solid transparent;
  border-right: 2.025rem solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -3.0375rem;
  left: -4.3875rem;
  display: block;
  content: "";
  transform: rotate($deg);
}

@mixin after-burst ($deg) {
  position: absolute;
  top: 0.2025rem;
  left: -7.0875rem;
  width: 0px;
  height: 0px;
  border-right: 6.75rem solid transparent;
  border-bottom: 4.725rem solid variables.$white;
  border-left: 6.75rem solid transparent;
  transform: rotate($deg);
  content: "";
}