@use '../styles/_mixins' as mixin;
@use '../styles/_variables' as variable;

.header {
  display: flex;
  width: 100vw;
  background-color: variable.$black;
  height: 7rem;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 2% 2% 0 2%;
}

.header-buttons {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

button {
  height: 1.75rem;
  width: 8rem;
  background-color: variable.$buttonPurple;
  color: variable.$white;
  font-size: .75rem;
  border-radius: 5px;
  border: none;
  @include mixin.button-hover(pointer, scale(1.1));
}