@use '../styles/_mixins' as mixin;
@use '../styles/_variables' as variable;

.header {
  display: flex;
  width: 100vw;
  background-color: variable.$black;
  height: 8rem;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 0;
}

button {
  height: 1.5rem;
  width: 6rem;
  background-color: variable.$buttonPurple;
  color: variable.$white;
  font-size: .5rem;
  border-radius: 3px;
  border: none;
  @include mixin.button-hover(pointer, scale(1.1));
}