// @import '../node_modules/@csstools/normalize.css/normalize.css';
@import '../node_modules/@csstools/normalize.css/opinionated.css'; 

html {
  overscroll-behavior: none;
  display: flex;
  background-color: rgba(36, 36, 36, 0.837);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  font-size: 2rem;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

