@use './Components/styles/_variables' as variable;
@import '../node_modules/@csstools/normalize.css/opinionated.css'; 

html {
  overscroll-behavior: none;
  background-color: variable.$darkGrey;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: variable.$white;
  font-size: 2rem;
  height: 100vh;
  width: 100vw;
}

